.stm_metaboxes_grid {
	.stm_metaboxes_grid__inner {
		.wpcfto_generic_field__notice {
			.button_list_box {
				display: flex;
				align-items: center;
				margin-bottom: 16px;
				label {
					width: 200px;
					font-size: 16px;
					line-height: 28px;
					margin: 0;
				}
				a {
					padding: 11px 17px;
					font-weight: 500;
					font-size: 14px;
					line-height: 20px;
					border: 1px solid #cccccc;
					border-radius: 8px;
					color: #000000;
					&:hover {
						background-color: #2985f7;
						border-color: #2985f7;
						color: #ffffff;
					}
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}