.stm_metaboxes_grid {
    .stm_metaboxes_grid__inner {
        label {
            color: #23282d;
            font-weight: 500;
            font-size: 15px;
        }
        .button {
            display: inline-block;
            padding: 10px 27px;
            margin-right: 0;
            min-height: auto;
            height: 40px;
            line-height: 1.4;
            text-transform: uppercase;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            border-radius: 4px;
            background: $accent;
            border-color: $accent;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
            cursor: pointer;
            letter-spacing: 0;
            &:hover {
                background-color: lighten($accent, 5%) !important;
                border-color: lighten($accent, 5%) !important;
            }
            i {
                display: inline;
                margin-right: 10px;
            }
        }
    }
}