.stm_metaboxes_grid .stm_metaboxes_grid__inner {
    .wpcfto_generic_field.wpcfto_generic_field_editor {
        //display: block;
        background-color: $bg_blocks;
        border-radius: 10px;
        padding: 20px;

        .wpcfto-editor {
            width: 100%;
            margin: 0;

            > label {
                margin: 0 0 15px;
                font-size: 18px;
            }

            textarea {
                display: none;
            }

            .quillWrapper {

                padding: 10px 0;
                border-radius: 5px;

                p {
                    margin-top: 1em;
                    margin-bottom: 1em;
                }

                .ql-container.ql-snow,
                .ql-toolbar.ql-snow {
                    border: 0;
                }

                .ql-toolbar.ql-snow {
                    padding: 0;
                    margin: 0 -10px;

                    .ql-formats {
                        display: inline-block;
                        margin-right: 5px;

                        button {
                            margin-bottom: 0;

                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                }

                .ql-container.ql-snow {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .ql-snow .ql-tooltip {
                    left: -1px !important;
                }

                .ql-image {
                    display: none;
                }

                .ql-snow .ql-picker.ql-header {
                    width: auto;

                    svg {
                        display: none;
                    }
                }

                /*Hide ITEMS*/
                .ql-italic,
                .ql-underline,
                .ql-strike,
                .ql-align,
                .ql-code-block,
                .ql-list[value="check"],
                .ql-video,
                .ql-background,
                .ql-indent {
                    display: none;
                }

                .ql-editor {
                    border: 1px solid #bec5cb;
                    background-color: #f6f9fc;
                    border-radius: 5px;
                    box-shadow: 0 0 0 transparent;

                    &:focus {
                        border-color: $accent;
                    }

                    blockquote {
                        margin-top: 1em;
                        margin-bottom: 1em;
                    }

                    ol {
                        margin-top: 1em;
                        margin-bottom: 1em;
                    }

                    ul {
                        margin-top: 1em;
                        margin-bottom: 1em;
                    }
                }
            }
        }

    }
}

.wpcfto_manage_course__editor {
    border-top: 1px solid #e1e2e4!important;
}

.ace_editor {
    .wpcfto_generic_field.wpcfto_generic_field_ace_editor {
        & {
            padding: 20px;
        }
        .ace_editor {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #bec5cb;
            .ace_gutter {
                background-color: #f6f9fc;
            }
            .ace_print-margin {
                display: none;
            }
        }
        .wpcfto-field-aside__label {
            font-family: $main_font;
            font-weight: 500;
        }
        .wpcfto_field_title {
            //margin-bottom: 10px;
            //display: block;
            //font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        }
        .field-description {
            //margin-top: 10px;
            //font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        }
    }
}
