.wpcfto-box-group_title {
    .wpcfto_generic_field {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        .fa {
            margin-right: 10px;
            margin-top: 5px;
        }

        .wpcfto-field-aside {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            label {
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
            }

            .wpcfto-field-description {
                width: 100%;
            }
        }

        &.preview_bottom .wpcfto-field-aside {
            .wpcfto_preview {
                .wpcfto_preview__popup {
                    visibility: hidden;
                    top: 100%;
                    bottom: unset;
                    left: 50%;
                    padding: 5px;
                    max-width: 297px;
                    background-color: #fff;
                    overflow: hidden;
                    border-radius: 15px;
                    transform: translateX(-50%);
                    box-shadow: 0 5px 25px rgb(0 0 0 / 16%);
                    z-index: 101;
                    margin-top: 17px;
                }

                &:after {
                    content: "";
                    border: 15px solid transparent;
                    border-bottom-color: #fff;
                    left: 0;
                    right: 0;
                    display: inline-block;
                    margin: 0 auto;
                    bottom: -17px;
                    width: 0;
                    height: 0;
                    z-index: 109;
                }

                &:hover{
                    .wpcfto_preview__popup {
                        visibility: visible;
                    }
                }
            }
        }
    }
}