.stm_metaboxes_grid {
    &__inner {
        .wpcfto-box.payment_methods {
            .stm-lms-payments {
                padding: 16px 20px 18px;
                width: 100%;

                select,
                textarea,
                input[type=number],
                input[type=time],
                input[type=text] {
                    width: 100%;
                    max-width: 100%;
                }

                .stm-lms-payment_method {
                    &:not(:last-of-type) {
                        margin-bottom: 20px;
                    }
                }
                .wpcfto_checkbox {
                    margin-bottom: 15px;
                    display: block;
                }
                .stm-lms-payment_info {
                    & {

                    }
                    &_field {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
