.wpcfto-box {
    .wpcfto-admin-select {
        width: 100%;
        select {
            width: 100%;
            max-width: 100%;
        }
    }
}
.wpcfto_generic_field__select {
    .wpcfto-field-aside {
        align-self: center;
    }
}
