// Base
$white: #fff;
$accent: #2985f7;

// Save settings alert
$settings_alert_bg: #fff;
$settings_alert_success_icon: #2e85f7;
$settings_alert_success_icon_bg: #d4e7fd;
$settings_alert_error_icon: #fcd5d9;
$settings_alert_error_icon_bg: #f32c40;

// Backgrounds
$bg_head_side: #1e2a36;
$bg_head_content: $white;
$bg_tab_nav: #2c3e50;
$bg_content: #f0f3f5;
$bg_blocks: $white;

// Text
$color_head_side: $white;
$color_tab_nav: #bec5cb;
$color_main: #27374e;
$color_muted: #8c99a5;

// Sizes
$side_width: 273px;
$content_width: unquote('calc(100% - ' + $side_width + ')');

$fields_aside_width: 40%;
$fields_content_width: 60%;

// Other
$main_color: #195ec8;
$secondary_color: #2c3e50;

// Fonts
$main_font: 'Roboto', sans-serif;
